        @import "webpages";
        .effect {
            margin-top: 8%;
            height: 70vh;
            width: 95vw;
            background-image: url("graph.jpg");
            transform: skewY(12deg);
            background-size: 100% 100%;
            box-shadow: 0 16px 12px -12px black;
        }
        
        .font_ {
            font-family: 'Raleway', sans-serif;
        }
        
        .font_1 {
            font-family: 'Josefin Sans', sans-serif;
        }
        
        .img_ {
            border-radius: 0px 80px 140px 0px;
        }
        
        .blue_ {
            @include background(#3a5eea);
            background-color: #3a5eea;
            border: none;
        }
        
        .blue_2 {
            @include background(#d9e2ef);
        }
        
        .blue_1 {
            @include background(#1b2a4e);
            border: none;
        }
        
        .container_2 {
            z-index: -1;
            height: 100%;
            margin-top: -7%;
            @include background(#1c2b4f);
            background: radial-gradient(100% 10% at top, transparent 50%, #1c2b4f 51%);
            border-bottom-left-radius: 100%60px;
            border-bottom-right-radius: 100%40px;
        }
        
        .dot {
            height: 50px;
            width: 50px;
            background-color: blue;
            border-radius: 50%;
            display: inline-block;
            margin-right: 130px;
        }
        
        .dot1 {
            height: 50px;
            width: 50px;
            background-color: blue;
            border-radius: 50%;
            display: inline-block;
            margin-left: 0px;
        }
        
        .btn_ {
            border: 1px solid;
            border-radius: 15px;
            opacity: .4;
        }
        
        .m_font {
            font-size: 20px;
        }
        
        .oop {
            opacity: .7;
        }
        
        .boder_ {
            border: none;
        }
        
        @media only screen and (max-width: 600px) {
            .buy {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .m_font {
                font-size: 15px;
            }
            .center {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .dot {
                margin-right: 20px;
            }
            .dot1 {
                margin-right: 20px;
            }
            .content_ {
                margin-left: 10px;
            }
        }